
h1{
 text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  
}

#navigation{
text-align: center;
}

#dubaiLocation{
  position: absolute;
  margin-top: -20vb;
  margin-left: 35vb;
  
}

#dubaiBio{
  position: absolute;
  margin-top: -15vb;
  margin-left: 35vb;
}

#thanks{
  max-width: 300px;
  position: absolute;
  margin-top: 50vb;
}
#family{
  position: absolute;
  margin-top: 10vb;
}

#salesData{
  font-size: 3.75vb;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
#businessHours{
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}
#lima{
  margin-top: 3vb;
}
#limaLocation{
  position: absolute;
  margin-left: 35vb;
  margin-top: -20vb;
}

#LimaBio{
  position: absolute;
  margin-left: 35vb;
  margin-top: -15vb;
}

#paris{
  margin-top: 3vb;
}
#parisLocation{
  position: absolute;
  margin-left: 35vb;
  margin-top: -20vb;
}

#ParisBio{
  position: absolute;
  margin-left: 35vb;
  margin-top: -15vb;
}

#seattle{
  margin-top: 5vb;
}

#seattleLocation{
  position: absolute;
  margin-left: 42vb;
  margin-top: -25vb;
}

#seattleBio{
  position: absolute;
  margin-left: 42vb;
  margin-top: -20vb;
}

#tokyo{
  margin-top: 5vb;
  margin-bottom: 5vb;
}

#tokyoLocation{
  position: absolute;
  margin-left: 35vb;
  margin-top: -23vb;
}

#tokyoBio{
  position: absolute;
  margin-left: 35vb;
  margin-top: -17vb;
}

#biography{
  text-align: center;
  font-size: 3.5vb;
}
p{
  color: #0D0C1D;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cookiePic{
  max-width: 65vb;
  max-height: 65vb;
}
body{
background-color: #90e0ef;
}

table{
 position: absolute;
 margin: 25px auto;
}
table th{
  padding: -3px;
  border: solid 1px black;
}

table td{
  padding: -3px;
  border: solid 1px black;
}

table tfoot{
  padding: -3px;
  border: solid 1px black;
}

#cookieCutter{
  position: absolute;
  width: 225px;
  height: 225px;
  margin-left: 50vb;
  margin-top: -60vb; 
}

#chinhookImg{
  position: absolute;
  margin-left: 130vb;
  margin-top: -20vb;

}